on:
  # Trigger analysis when pushing in master or pull requests, and when creating
  # a pull request. 
  push:
    branches:
      - main
  pull_request:
      types: [opened, synchronize, reopened]
name: Main Workflow
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - run: npm install
      - run: npm run build --if-present 
 # test:
  #  runs-on: ubuntu-latest
   # needs: build
   # steps:
    #  - uses: actions/checkout@v4
     # - name: Use Node.js
      #  uses: actions/setup-node@v4
      #  with:
       #   node-version: '20.x'
     # - run: npm install
     # - run: npm test --if-present
      
  sonarqube:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v3
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting.
        fetch-depth: 0

    # Triggering SonarQube analysis as results of it are required by Quality Gate check.
    - name: SonarQube Scan
      uses: sonarsource/sonarqube-scan-action@master
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

    
    - name: SonarQube Quality Gate check
      id: sonarqube-quality-gate-check
      uses: sonarsource/sonarqube-quality-gate-action@master
      
      timeout-minutes: 8
      env:
       SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
       SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }} #OPTIONAL

    
    
    - name: "Example show SonarQube Quality Gate Status value"
      run: echo "The Quality Gate status is ${{ steps.sonarqube-quality-gate-check.outputs.quality-gate-status }}"

  changelog:
    
  
    runs-on: ubuntu-latest
    needs: sonarqube
    steps:
      - name: "✏️ Generate release changelog"
        uses: heinrichreimer/action-github-changelog-generator@v2.3
        with:
          token: ${{ secrets.TOKEN }} 
  generate-changelog:
    runs-on: ubuntu-latest
    needs: changelog

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install Dependencies
      run: npm install

    - name: Generate Changelog
      run: npm run generate-changelog

    - name: Commit and Push Changelog
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --global user.name "Changebot"
        git config --global user.email "changebot@example.com"
        git add CHANGELOG.md
        git commit -m "Automated update by Changebot"
        git push origin main

  bump-version:
    runs-on: ubuntu-latest
    needs: generate-changelog
    steps:
      - uses: alirezatheh/auto-bump-versions@v1
        with:
          github-token: ${{ secrets.TOKEN }}
          new-version: 1.2.3
          use-bumpver: true

      
